<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Add Employee</title>
        <link
                rel="stylesheet"
                href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous"
        >
    </head>

    <body>

        <div class="container">

            <h2>Add EMployee</h2>
            <form th:action="@{/saveEmployee}" th:object="${employee}" method="POST">

                <input type="text" th:field="*{name}" placeholder="Enter name" class="form-control col-4 mb-4"/>
                <input type="text" th:field="*{email}" placeholder="Enter email" class="form-control col-4 mb-4"/>
                <input type="text" th:field="*{department}" placeholder="Enter department" class="form-control col-4 mb-4"/>
                <button class="btn btn-primary" type="submit">Save</button>

            </form>
            <hr/>
            <a th:href="@{/showEmployees/list}">Back to list</a>
        </div>

    </body>

</html>