<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>List Employees</title>
        <link rel="stylesheet"
              type="text/css"
              href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
        <link
                rel="stylesheet"
                href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous"
        >
    </head>

    <body>

        <div class="container">

            <h2>List Employees</h2>
            <hr/>
            <a th:href="@{/addEmployeeForm}" class="btn btn-primary mb-2">Add Employee</a>
            <table class="table table-bordered table-striped" id="employee-table">

                <thead>
                    <tr>
                       <th>Name</th>
                       <th>Email</th>
                       <th>Department</th>
                       <th>Actions</th>
                    </tr>
                </thead>

                <tboby>
                    <tr th:each="employee: ${employees}">
                        <td th:text="${employee.name}"></td>
                        <td th:text="${employee.email}"></td>
                        <td th:text="${employee.department}"></td>
                        <td>
                            <a th:href="@{/showUpdateForm(employeeId=${employee.id})}" class="btn btn-info">Update</a>
                            <a th:href="@{/deleteEmployee(employeeId=${employee.id})}" class="btn btn-danger ml-2">Delete</a>
                        </td>
                    </tr>
                </tboby>

            </table>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
        <script>
            $(document).ready(function() {
                $("#employee-table").DataTable({
                    'aoColumnDefs':[{
                        'bSortable': false,
                        'aTargets': [-1]
                    }]
                });
            })
        </script>
    </body>

</html>